body {
  color: #61dafb;
}
.App {
  background: radial-gradient(131.25% 131.25% at 50% 0%, #2F2F2F 0%, #121212 100%);  
  text-align: center;
  height: 100vh;
  display: flex;  
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

//utility classes
.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
